HET_BASE_URL=https://pdf.hetdubai.com
HET_APP_KEY=replace-with-strong-random-secret
HET_DB_HOST=localhost
HET_DB_PORT=3306
HET_DB_NAME=hetdubai_pdf_tools
HET_DB_USER=hetdubai_pdf_tools
HET_DB_PASS=replace-db-password
HET_BOOTSTRAP_ADMIN_EMAIL=admin@hetdubai.com
HET_BOOTSTRAP_ADMIN_NAME=System Admin
HET_BOOTSTRAP_ADMIN_PASS=StrongAdminPassword123!
HET_GS_BIN=gs
HET_QPDF_BIN=qpdf
HET_TESSERACT_BIN=tesseract
HET_CONVERT_BIN=convert
HET_IMG2PDF_BIN=img2pdf
HET_ADMIN_IP_ALLOWLIST=127.0.0.1
